body {
    background: url(../img/portfolio-bg.png) no-repeat center center fixed;
    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* General */
a {
    color: #fff;
    text-decoration: none !important;
}

a:hover {
    color: #ffdf00;
}

.active {
    font-weight: 700;
}

h1,
h2,
h4,
h5,
#logo,
#heading-desc,
.tooltip {
    font-family: "Source Code Pro", monospace;
}

/* Header: index.html & project.html */
#logo {
    font-weight: 700;
    padding-bottom: 1.5rem;
}

#logo a {
    color: #007acc !important;
}

#logo a:hover {
    color: #ffdf00 !important;
}

.nav a {
    padding: 0 1.2rem;
}

.nav i {
    font-size: 1.6rem;
}

#linkedin:hover {
    color: #0073b1;
}

#github:hover {
    color: #e84610;
}

/* Main: index.html */
h1 {
    font-size: 2.2rem;
}

#heading-desc {
    font-size: 2.1rem;
    padding-bottom: 1.5rem;
}

#main-text {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.alien {
    width: 2rem;
}

.btn-project {
    background-color: #ffdf00;
    border: none;
    border-radius: 2rem;
    color: #343a40;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 12rem;
}

.btn-project,
.btn-project,
.btn-project:focus,
.btn-project:active:focus {
    background-color: #ffdf00 !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Credit: hovercss @ https://github.com/IanLunn/Hover/blob/master/css/hover.css */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* /End of Credit */

/* Credit: CSS-Tricks @ https://css-tricks.com/bubble-point-tooltips-with-css3-jquery/ */
.tooltip,
.arrow:after {
    /* background: #252525; */
    border: 1px solid #fff;
}

.tooltip {
    border-radius: 1.5rem;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1.25rem;
    opacity: 0;
    padding: 0.3rem 1.2rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.tooltip.active {
    opacity: 1;
    margin-top: 0.35rem;
    transition: all 0.5s ease;
}

.tooltip.out {
    opacity: 0.2;
    margin-top: -1rem;
}
/* /End of Credit */

/* UFO: index.html & project.html */
.ufo {
    position: fixed;
    z-index: -1;
}

.ufo img {
    width: 6rem;
}

/* Main: project.html */
h2 {
    font-size: 1.9rem;
    margin: 2rem 0;
}

.milestone-desc {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 7rem;
    box-shadow: 0.1rem 0.1rem 1.3rem #c5c5c5;
    color: #e7e7de;
    height: 12.5rem;
    position: absolute;
    right: 2rem;
    width: 24rem;
}

.milestone-desc p {
    font-size: 1.3rem;
    margin: 0;
    padding: 1.7rem 1.3rem 1.3rem 1.3rem;
}

.card {
    background: transparent;
    border: 2px solid #fff;
    margin-bottom: 2rem;
}

.ms1 {
    background-color: rgba(6, 84, 70, 0.3);
}

.ms2 {
    background-color: rgba(0, 122, 204, 0.3);
}

.ms3 {
    background-color: rgba(234, 191, 159, 0.3);
}

.ms4 {
    background-color: rgba(132, 94, 194, 0.3);
}

.card-body h4 {
    color: #dddddd;
}

.card a {
    padding: 1rem;
}

.card img {
    height: 50%;
    width: 50%;
}

.card-title {
    font-size: 1.5rem;
    line-height: 2rem;
}

.card-text {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.list-group li {
    background-color: rgba(197, 197, 197, 0.2);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.list-group-item {
    border: none;
    margin-bottom: 0;
}

.result {
    color: #007acc;
    font-weight: bold;
}

.html,
.css,
.bootstrap,
.js,
.git,
.github,
.python,
.database {
    font-size: 1.6rem;
    padding-right: 0.3rem;
}

.mdb {
    font-size: 2rem;
    padding: 0 0.3rem;
}

.tec-text {
    font-size: 0.9rem;
    margin: 0.4rem 0 0 0;
}

/* Footer: index.html & project.html */
h5 {
    color: #c5c5c5;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

#technologies p {
    color: #c5c5c5;
    display: inline;
    margin-left: -0.7rem;
    padding: 0 0.95rem 0 0.1rem;
    vertical-align: top;
}

#technologies i {
    font-size: 1.4rem;
    margin-right: 0.7rem;
}

.github-mr {
    margin-right: 0 !important;
}

.fa-html5 {
    color: #f06529;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js-square {
    color: #f0db4f;
}

.fa-bootstrap {
    color: #845ec2;
}

.fa-mdb {
    color: #3f51b5;
}

.fa-python {
    color: #4b8bbe;
    margin-right: 0;
}

.fa-node-js {
    color: #68a063;
}

.fa-python {
    color: #4b8bbe;
}

.fa-database {
    color: #3fa037;
}

.fa-git-alt {
    color: #f34f29;
}

.fa-github {
    color: #fff;
}

.copyright {
    margin-top: 1rem;
}

/* .copyright a {
    position: absolute;
    right: 5rem;
} */

/* -- Media Query: Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
    header {
        margin: 1.5rem auto 0;
        position: relative;
        width: 100%;
    }

    nav {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .nav-home {
        left: 2rem;
        position: absolute;
    }

    .nav-project {
        left: 6rem;
        position: absolute;
    }

    .nav-linkedin {
        right: 7rem;
        position: absolute;
    }

    .nav-github {
        position: absolute;
        right: 2rem;
    }

    nav a {
        margin-top: 0.5rem;
    }

    h1,
    #heading-desc {
        font-size: 2.7rem;
    }

    #heading-desc {
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    .ms1,
    .ms2,
    .ms3,
    .ms4 {
        padding: 0.6rem;
    }

    .card img {
        height: 3rem;
        width: 3.2rem;
    }

    .project-title {
        font-size: 1.2rem;
        padding-left: 0.7rem;
    }

    .ms1-card p,
    .ms2-card p,
    .ms3-card p,
    .ms4-card p {
        display: inline;
    }

    .card-title {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .list-group li {
        background-color: transparent;
    }

    .html,
    .css,
    .bootstrap,
    .js,
    .git,
    .github,
    .python,
    .database {
        font-size: 1.4rem;
        padding-right: 0.8rem;
    }

    .tec-text {
        font-size: 0.9rem;
        margin: 0 0.8rem 0 -0.6rem;
    }

    .github-repo {
        display: block;
        position: absolute;
        right: 0;
    }
}

/* -- Media Query: Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
    .nav-project {
        left: 8rem;
        position: absolute;
    }

    .ms1-card {
        width: 55%;
    }

    .ms2-card {
        width: 70%;
    }

    .ms3-card {
        width: 85%;
    }

    .card {
        text-align: left;
    }

    .github-repo {
        display: inline;
    }
}
