body {
    background: url(../img/portfolio-bg.jpg) no-repeat center center fixed;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.opacity {
    background-color: rgba(52, 58, 64, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* General */
a {
    color: #fff;
    text-decoration: none !important;
}

a:hover {
    color: #ffdf00;
}

/* Header */
#logo {
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

#logo a {
    color: #007acc !important;
}

#logo a:hover {
    color: #ffdf00 !important;
}

.nav a {
    padding: 0 1.2rem;
}

.nav i {
    font-size: 1.6rem;
}

#linkedin:hover {
    color: #0073b1;
}

#github:hover {
    color: #24292e;
}

/* Main */
h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2.2rem;
}

#heading-desc {
    font-family: "Source Code Pro", monospace;
    font-size: 2.1rem;
    padding-bottom: 2.5rem;
}

#main-text {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1.5rem;
}

.btn-project {
    background-color: #ffdf00;
    border: none;
    border-radius: 2rem;
    color: #343a40;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 2.2rem auto;
    padding: 0.5rem 1rem;
    width: 12rem;
}

.btn-project,
.btn-project,
.btn-project:focus,
.btn-project:active:focus {
    background-color: #ffdf00 !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Credit: hovercss @ https://github.com/IanLunn/Hover/blob/master/css/hover.css */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* /End of Credit */
